@* it is a partial view *@

@model ElectBill.Models.Items

<tr id="@Model.Item_Index">
    <td>
        @Model.Prod_Name
       <input type="hidden" name="Items[@Model.Item_Index].Prod_Name" value="@Model.Prod_Name"/>
    </td>

    <td>
        @Model.Price
        <input type="hidden" name="Items[@Model.Item_Index].Price" value="@Model.Price"/>
    </td>
    <td>
        @Model.Quantity
        <input type="hidden" name="Items[@Model.Item_Index].Quantity" value="@Model.Quantity"/>
    </td>
    <td><button class="addbtn" type="button" onclick="RemoveItem(@Model.Item_Index)" >Remove</button></td>
</tr>

<script>
    function RemoveItem(Id) {
        //swal({
        //    title: "Are you sure?",
        //    text: "Once deleted, you will not be able to recover this !",
        //    icon: "warning",
        //    buttons: true,
        //    dangerMode: true,
        //})
        //    .then((willDelete) => {
        //        if (willDelete) {
                   /* $("#" + Id).remove(); */
                //    swal("Poof! Your data has been deleted!", {
                //        icon: "success",

                //    });
                //}
                //else {
                //    swal("Your data have not been deleted!");
                //}
        /*  });*/
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $("#" + Id).remove(); 
                Swal.fire({
                   title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                });
            }
        });
      
    }
</script>