
@model IEnumerable<ElectBill.Models.BillDetail>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<style>
    .body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*background: #2b2b2b;*/
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
.btn{
    text-decoration:none;
}
@@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

</style>

<div class="body">
    <div class="wrapper">

        

        <div class="table">

            <div class="row header blue">
                <div class="cell">
                    ID
                </div>
                <div class="cell">
                    Customer Name
                </div>
                <div class="cell">
                    Mobile
                </div>
                <div class="cell">
                    Address
                </div>
                <div class="cell">
                    Total_Amount
                </div>
                <div class="cell">
                    
                </div>
            </div>

            @foreach(var item in Model) {
            <div class="row">
                <div class="cell">
                    @item.Id
                </div>
                <div class="cell">
                    @item.Cust_Name
                </div>
                <div class="cell">
                    @item.Mobile
                </div>
                <div class="cell">
                    @item.Address
                </div>
                <div class="cell">
                    @item.Total_Amount
                </div>
                <div class="cell">
                    @Html.ActionLink("View", "ViewBill", "EBill", new {Id = @item.Id}, new {@class= "addbtn btn" })
                </div>
               
            </div>
            }
            

        </div>

    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


</div>

