<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Cust_img/fav_gif.gif">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>




    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            width: 80%;
            margin: 0px auto;
        }

        .addbtn {
            display: inline-block;
            outline: 0;
            border: 0;
            cursor: pointer;
            will-change: box-shadow, transform;
            background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100%);
            box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
            padding: 10px 14px 5px 14px;
            border-radius: 6px;
            color: #fff;
            height: 38px;
            font-size: 16px;
            text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
            transition: box-shadow 0.15s ease, transform 0.15s ease;
        }

            .addbtn:hover {
                box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
                transform: translateY(-2px);
            }

            .addbtn:active {
                box-shadow: inset 0px 3px 7px #3c4fe0;
                transform: translateY(2px);
            }
    </style>
    <link href="~/Content/Cust_css/navbar.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul class="menu">
                <li class="logo"><a href="#">myLibrary</a></li>
                <li class="item">
                    @Html.ActionLink("loginSignup", "loginSignup", "Home")
                </li>
                @*  <li class="item"><a href="/loginSignup.cshtml">loginSignup</a></li>*@
                <li class="item">
                    @Html.ActionLink("View Bill", "Index", "EBill")
                </li>
                <li class="item"> @Html.ActionLink("Create Bill", "CreateBill", "EBill")</li>


                <li class="item button"><a href="#">Log In</a></li>
                @*<li class="item button secondary"><a href="#">Sign Up</a></li>*@
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()

        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
   
    <script>
        $(function () {
            $(".toggle").on("click", function () {
                if ($(".item").hasClass("active")) {
                    $(".item").removeClass("active");
                } else {
                    $(".item").addClass("active");
                }
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
